* {
  font-family: "Poppins", sans-serif;
}

/*Color variables*/
body {
  background-color: #FAF0E6;
}

.sb-container{
  width: (100% - 250px) ;
  margin-top: 60px;
  margin-left: 200px;
  margin-right: 20px;
  padding: 20px;
  background-position: center;
  background-size: cover;
  /* height: 100vh; */
}

h2 {
  font-size: 26px;
  font-weight: medium;
  margin-left: 380px;
  color: #EF6553;
}

.sb-table{
  margin: 20px;
  padding: 20px;
  position: center;
  /*background-color: grey;*/
}

.sb-table li {
  text-align: center;
  border-radius: 9px;
  padding: 12px;
  display: flex;
  margin-bottom: 15px;
  max-height: 55px;
  width: 1000px;
}

.sb-table .sb-table-header {
  font-style: normal;
  font-weight: lighter;
  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.6);
  letter-spacing: 0.03em;
  margin-bottom: -10px;
}

.sb-table .sb-table-body .col-1 .user-img{
  height: 45px;
  width: 45px;
  border-radius: 100%;
  border: 2px solid #EF6553;
  position: center;
  margin-top: -10px;
}

.sb-table .sb-table-body {
  background: #2E8886;
  font-size: 14px;
  letter-spacing: 0.03em;
  border: 1.5px solid #EF6553;
  border-radius: 9px;
  color: white;

  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-radius: 9px; 
  
}

.sb-table .col-1 {
  flex-basis: 12%;
}

.sb-table .col-2 {
  flex-basis: 10%;
}

.sb-table .col-3 {
  flex-basis: 40%;
  overflow: hidden;
  max-width: 39ch;
  height: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;  
  margin-left: 50px;
}

.sb-table .col-4 {
  flex-basis: 25%;
}

.sb-table .col-5 {
  flex-basis: 25%;
  max-width: 90px;
  max-height: 24px;
  background: rgba(247, 136, 57, 0.5);
  border: 1.6px solid #F78839;
  box-sizing: border-box;
  border-radius: 30px;
  text-align: center;
}

.sb-table .sb-table-header .col-4{
  margin-left: 40px;
}

.sb-table .sb-table-header .col-5{
  background-color: transparent;
  border-color: transparent;
  margin-left: 5px;
}

.sb-body{
  margin: 60px;
  margin-right: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  max-height: 850px;
  position: absolute;
  background: #FAF0E6;
}

.sb-sidebar{
  z-index: 10;
  top: 0px;
  background: #FAF0E6;
  margin-top: 0px;
  padding-top: 30px;
  position: absolute;
  left: 10;
  width: 180px;
  height: 96.5%;
  overflow-y: auto;
  border-radius: 30px 0px 0px 30px;
  border-right: 2px solid #EF6553;

}

/* .sidebar span{

} */

.site-logo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sb-sidebar .site-logo .site-logo-image{
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
  margin-top: 70px;
}

.sb-sidebar .site-logo h4{
  color: #ccc;
  margin-top: 0;
  margin-bottom: 20px;
}

.sb-sidebar a{
  color: #2E8886;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  display: block;
  width: 100%;
  line-height: 40px;
  text-decoration: none;
  padding-left: 10px;
  /* padding-right: 20px; */
  margin: 30px;
  margin-bottom: 40px;
  box-sizing: border-box;
  width: 120px;
  background: rgba(46, 136, 134, 0.15);
  box-sizing: border-box;
  border-radius: 8px;
}

.sb-sidebar a:hover{
  border: 2px solid #2E8886;
}

/* .sb-sidebar a:active{
  border: #EF6553;
} */

.sb-sidebar i{
  padding-right: 10px;
}

.sb-sidebar-btn{
  margin: 0;
  position: absolute;
  top: 55%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.sb-sidebar-btn a{
  text-align: left;
}

.sb-sidebar-btn .fa{
  font-size: 20px;
}

.sb-pagination {
  display: inline-block;
  padding: 10px;
  text-align: center;
  margin-top: -30px;
  margin-left: 300px;
}

.sb-pagination a {
  color: #EF6553;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  background: rgba(239, 101, 83, 0.1);
  margin: 5px;
}

.sb-pagination a.active {
  background-color: #EF6553;
  color: white;
  border-radius: 5px;
}

.sb-pagination a:hover:not(.active) {
  border-radius: 5px;
  border: 1px solid #EF6553;
}

.sb-pagination .fa{
  color: #EF6553;
  font-size: 12px;
}

/* .sb-container .sb-links{
  width: 153px;
  height: 371px;
  background: rgba(239, 101, 83, 0.1);
  border: 2px solid #EF6553;
  box-sizing: border-box;
  border-radius: 22px;
  position: absolute;
} */
